block header
	div(id='header' class='header')
		div(id='headerLogo' class='logo') PASTA 2.0
		div(id='headerActions' class='actions')
			div(id='headerActionsProfile' class='action btn') Profile
			div(id='headerActionsGift' class='action btn') Gift
			div(id='headerActionsRecharge' class='action buy-btn') Recharge